@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cloud Banking</h1>
    <p class="lead">Cloud Banking is a Cloud Based Platform for Next Generation Banking System With Internet</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Branches</h2>
        <p>
            Manage Branches in a Bank
        </p>
        <p><a class="btn btn-primary" href="#">Manage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Manage The Customers of the Branches</p>
        <p><a class="btn btn-primary" href="#">Manage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>See the Transactions</p>
        <p><a class="btn btn-primary" href="#">Manage &raquo;</a></p>
    </div>
</div>